<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.groupware.mybatis.EmpListMapper">

	
	<select id="getlist"  resultType="EmpListVo">
		select e.EMP_NUM,e.EMP_NAME,e.EMP_PHONE,e.EMP_EMAIL,e.EMP_HIREDATE,d.DEPT_NAME,p.PST_NAME
		from EMPLOYEE e, DEPT d, POSITION p ,RETIRE r
		where e.DEPT_NUM=d.DEPT_NUM and e.PST_NUM=p.PST_NUM and r.EMP_NUM!=e.EMP_NUM 
	</select>
	<select id="retirelist"  resultType="EmpListVo">
		select e.EMP_NUM,e.EMP_NAME,e.EMP_PHONE,e.EMP_EMAIL,e.EMP_HIREDATE,d.DEPT_NAME,p.PST_NAME
		from EMPLOYEE e, DEPT d, POSITION p ,RETIRE r
		where e.DEPT_NUM=d.DEPT_NUM and e.PST_NUM=p.PST_NUM and r.EMP_NUM=e.EMP_NUM 
	</select>
	<update id="updateEmp">
		UPDATE EMPLOYEE SET EMP_NAME=#{EMP_NAME}, EMP_PHONE=#{EMP_PHONE}, EMP_EMAIL=#{EMP_EMAIL}, EMP_GENDER=#{EMP_GENDER},
			EMP_BIRTH=to_date(#{EMP_BIRTH},'YYYY/MM/DD'),EMP_HIREDATE=to_date(#{EMP_HIREDATE},'YYYY/MM/DD'),
			EMP_ADDR=#{EMP_ADDR},DEPT_NUM=#{DEPT_NUM},PST_NUM=#{PST_NUM} 
			WHERE EMP_NUM=#{EMP_NUM}
	</update>
	<update id="updateAcc">
		update ACCOUNT set ACNT_pwd=#{ACNT_pwd}, ACNT_level=#{ACNT_level}
		where ACNT_NUM=#{ACNT_NUM}
	</update>
	<insert id="insertRe">
		insert into RETIRE values(SEQ_RETIRE.nextval,to_date(#{RE_DATE},'YYYY/MM/DD'),#{EMP_NUM})
	</insert>
</mapper>




















