<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<typeAliases>
		<typeAlias type="com.jhta.groupware.work.vo.WorkVo" alias="work"/>
		<typeAlias type="com.jhta.groupware.work.vo.WorkTimeVo" alias="worktime"/>
		<typeAlias type="com.jhta.groupware.work.vo.WorkListVo" alias="worklist"/>
		<typeAlias type="com.jhta.groupware.work.vo.Work_TypeVo" alias="worktype"/>
		<typeAlias type="com.jhta.groupware.work.vo.Work_LineVo" alias="workline"/>
		<typeAlias type="com.jhta.groupware.work.vo.Work_FileVo" alias="workfile"/>
		<typeAlias type="com.jhta.groupware.work.vo.HalfTimeVo" alias="halftime"/>
		<typeAlias type="com.jhta.groupware.work.vo.AnnualVo" alias="annual"/>
		
		<typeAlias type="com.jhta.groupware.member.vo.MemberAccountVo" alias="account"/>
		<typeAlias type="com.jhta.groupware.sign.vo.DocTypeVo" alias="doctype"/>
		<typeAlias type="com.jhta.groupware.calendar.vo.ScheduleVo" alias="scheduleVo"/>
		<typeAlias type="com.jhta.groupware.calendar.vo.Sc_FileVo" alias="scfileVo"/>
		<typeAlias type="com.jhta.groupware.chat.vo.ChatUserVo" alias="ChatUserVo"/>
		<typeAlias type="com.jhta.groupware.sign.vo.SignVo" alias="signdoc"/>
		<typeAlias type="com.jhta.groupware.login.vo.LoginVo" alias="LoginVo"/>
		<typeAlias type="com.jhta.groupware.sign.vo.SignLineListVo" alias="signlineVo"/>
		<typeAlias type="com.jhta.groupware.calendar.vo.PositionVo" alias="positionVo"/>
		<typeAlias type="com.jhta.groupware.sign.vo.SdocLineVo" alias="sdocline"/>
		<typeAlias type="com.jhta.groupware.sign.vo.SignNowVo" alias="signnow"/>
		<typeAlias type="com.jhta.groupware.sign.vo.SignLineDocVo" alias="linesigndoc"/>
		
		<typeAlias type="com.jhta.groupware.acadeemic.vo.AcademicVo" alias="AcademicVo"/>
		<typeAlias type="com.jhta.groupware.career.vo.CareerVo" alias="CareerVo"/>
		<typeAlias type="com.jhta.groupware.history.vo.HistoryVo" alias="HistoryVo"/>
		<typeAlias type="com.jhta.groupware.position.vo.PositionVo" alias="PosiVo"/>
		<typeAlias type="com.jhta.groupware.dept.vo.DeptVo" alias="DeptVo"/>
		<typeAlias type="com.jhta.groupware.emplist.vo.EmpListVo" alias="EmpListVo"/>
	</typeAliases>

	<mappers>
		<!-- 형진 -->
    	<mapper resource="com/jhta/groupware/mybatis/SignMapper.xml"/>
    	<mapper resource="com/jhta/groupware/mybatis/JoinMapper.xml"/>
    	<mapper resource="com/jhta/groupware/mybatis/LoginMapper.xml"/>
    	<mapper resource="com/jhta/groupware/mybatis/EmpInfoMapper.xml"/>
    	<mapper resource="com/jhta/groupware/mybatis/EmpListMapper.xml"/>
		<!-- 혁수 -->
		<mapper resource="com/jhta/groupware/mybatis/CalendarMapper.xml"/>
		<mapper resource="com/jhta/groupware/mybatis/ChatMapper.xml"/>
		<!-- 민수 -->
		<mapper resource="com/jhta/groupware/mybatis/work/WorkMapper.xml"/>		
		<mapper resource="com/jhta/groupware/mybatis/work/SetWorkMapper.xml"/>
		<mapper resource="com/jhta/groupware/mybatis/work/RequestWorkMapper.xml"/>
		<mapper resource="com/jhta/groupware/mybatis/work/RequestWorkListMapper.xml"/>
		<mapper resource="com/jhta/groupware/mybatis/work/ResponseWorkListMapper.xml"/>
		<mapper resource="com/jhta/groupware/mybatis/work/WorkListMapper.xml"/>
	</mappers>	
</configuration>